{% extends "base.html" %}
{% block content %}
<h1 class="mt-4">Dataset Measurement and Analysis for Sports Discussions on
  Reddit and 4chan</h1>
<p>This dashboard provides analyses of Reddit and 4chan data, including toxicity metrics and interactive parameter selection.</p>
<p>Use the "Analysis" dropdown in the navigation bar to explore:</p>
<ul>
  <li><strong>Datasets Analysis(Reddit & 4chan)</strong></li>
  <li><strong>Reddit Analysis</strong></li>
  <li><strong>4Chan Analysis</strong></li>
  <li><strong>Toxicity Analysis</strong></li>
  <li><strong>Additional Requirements</strong></li>
</ul>
{% endblock %}
